/* shared styles */
@font-face {
    font-family: myFont;
    src: url('../font/Miama.ttf');
}

*{
    /* background-color:black ; */
    font-family: "Inter", sans-serif;
}
body{
    background-color:black ;
    color: white;
}

.container{
    width: 90%;
    margin: 3.5rem auto;
}
.fitness{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}
.btn-secondary{
    padding: 0.6rem 1.4rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 46px;
    background: rgb(11, 3, 2);
    border: 1px solid white;
}
.btn-primary{
    padding: 0.6rem 1.4rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    border: none;
}
.shape{
    font-size: 6.8rem;
    font-weight: 400;
    font-family: myFont;
   
}
.para{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    text-align: left;
}
/* nav-styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    
}
.nav-content{
    margin-left: 50rem;
    margin-top: 2rem;
    font-weight: 400;
    height: 50%;
    padding: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 67px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.nav-content a{
  text-decoration: none;
  color: white;
}
#ham-menu{
  height: 2rem;
  width: 2rem;
  display: none;
}

/* Header styles part */
header img{
    width: 100%;
}
#year-2{
    font-size: 2.5rem;
    font-weight: 900;
}
#badge-2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 4rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 10px;
    margin-left: 130px;
    margin-top:-300px ;
}
.circle{
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color:rgb(230, 83, 60) ;
    margin-right: 0.5rem;
}
.badge-text{
    
    display: flex;
    flex-direction: column;
}
#badge{
    display: flex;
    align-items: center;
    width: 50%;
    height: 4rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 10px;
    margin-left: -100px;
    margin-top:-150px ;
}
#year{
    font-size: 1.8rem;
    font-weight: 900;
}

.header-container{
    display: flex;
    gap: 3rem;
    
}
.header-title{
    font-size: 4.8rem;
    font-weight: 900;
    /* width: 55%;
    line-height: 125%; */
    line-height: 125%;
    padding: 0px;
}

 .header-description p{
    width: 65%
 }
/* change-your habits section */
.section-title{
    font-size: 3rem;
    font-weight: 900;
}
.section-topic p{
    margin-top: 0px;
    margin-bottom: 5rem;
}
.section-topic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-top: 1.5rem; */
}
.section-img-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 2rem;
}
.img-descript{
    margin-top: -1rem;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
}
.img-title{
    font-size: 1.2rem;
    font-weight: 600;
}
.img-box{
    width: 100%;
    
}
.img-box img{
    border-radius: 360px;
}
/* Extra Mile style */
.extra-mile{
    margin-top: 6.25rem;
    
    height: 24rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    /* padding: 1rem; */
}
.extra-mile-topic{
    width: 27.75rem;
}
.extra-mile-title{
    
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0%;
    margin-bottom: 1rem;
}
.extra-mile-descript{
    /* width: 27.75rem; */
    color: rgba(255, 255, 255, 0.5);
}
.extra-mile img{
    border-radius: 1.2rem;
    margin-top: 3rem;
    width: 100%;
}
.extra-mile-img{
    height: 19.5rem;
    width: 22.9rem;
}
/* BMI styles */
.bmi-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
.bmi-para{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.bmi{
    display: flex;
    justify-content: center;
}
/* Bmi calculate styles */
.bmi-calculate{
    /* width: 90%; */
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10rem;
    padding: 3rem;
}
table {
    border-collapse: collapse;
    width: 19.4rem;
    height: 13.5rem;
  }
  td,
  th {
    
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 1rem ;
  }
  td{
    color:rgba(255, 255, 255, 0.5) ;
  }
  .select-box{
    font-weight: 200;
    color:rgba(255, 255, 255, 0.5) ;
    backdrop-filter: blur(2rem);
    background: rgba(83, 83, 83, 0.54);
    border: none;
    padding: 1rem;
    width: 15rem;
    border-radius: 0.5rem;
  }
  .select-box-2{
    font-weight: 200;
    color:rgba(255, 255, 255, 0.5) ;
    backdrop-filter: blur(2rem);
    background: rgba(83, 83, 83, 0.54);
    border: none;
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: 30.3rem;
    border-radius: 0.5rem;
  }
  
  .second-bmi input{
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5) ;
    backdrop-filter: blur(2rem);
    background: rgba(83, 83, 83, 0.54);
    border: none;
    padding: 1rem;
    width: 13rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  .first-title{
    font-size: 1.75rem;
    font-weight: 800;
    letter-spacing: 0;
  }
  .btn-calculate{
    padding: 1rem 2rem ;
    /* padding: 0.6rem 1.4rem; */
    color: white;
    font-weight: 600;
    font-size: 1rem;
    width: 14rem;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    border: none;
  }
  /* Meet out trainers */
  .trainers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  }
  .trainer-topic{
    text-align: center;
  }
  .trainer-topic-title{
    margin: 1rem auto;
    font-size: 3rem;
    font-weight: 900;
  }
  .trainer-img-box{
    height: 15rem;
    width: 20rem;
    /* padding: 1rem; */
  }
  .name{
    margin-bottom: -0.5rem;
    font-size: 1rem;
    font-weight: 800;
  }
  .profession{
    font-weight: 200;
    font-size: 0.9rem;
    opacity: 0.7;
  }
  .trainer-name{
    justify-content: flex-start;
    position: relative;
    top: 10rem;
    left: 1rem;
}
  .first{
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../images/trainer1.png');
    background-size: cover;
    align-self: stretch;
    /* background-repeat: n; */
    width: 100%;
    filter: brightness(78%);
    border-radius: 18px;
    height: 15rem;
    width: 20rem;
}
  .second{
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../images/trainer2.png');
    background-size: cover;
    /* background-repeat: n; */
    width: 100%;
    filter: brightness(78%);
    border-radius: 18px;
}
  .third{
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../images/trainer3.png');
    background-size: cover;
    /* background-repeat: n; */
    width: 100%;
    filter: brightness(78%);
    border-radius: 18px;
}
  .forth{
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../images/trainer4.png');
    background-size: cover;
    /* background-repeat: n; */
    width: 100%;
    filter: brightness(78%);
    border-radius: 18px;
}
  .fifth{
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../images/trainer5.png');
    background-size: cover;
    /* background-repeat: n; */
    width: 100%;
    filter: brightness(78%);
    border-radius: 18px;
}
  .sixth{
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('../images/trainer6.png');
    background-size: cover;
    /* background-repeat: n; */
    width: 100%;
    filter: brightness(78%);
    border-radius: 18px;
}
  .trainer-img-container{
    margin-top: 4rem;
    display: grid;
    padding: 0px;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
    background: rgba(255, 255, 255, 0.1);
  }
  /* section of my own */
  
.membership-topic{
  text-align: center;
  margin-top: 8rem;
}
.membership-descript{
  color: rgba(255, 255, 255, 0.5); 
}
.membership-card-container{
  display: flex;
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 5.5rem;
}
.membership-card{
  border:2px solid rgb(230, 83, 60) ;
  padding: 1.5rem;
  box-shadow: 4px 5px 8px rgb(230, 83, 60);
}
.membership-card img{
  width: 100%;
  border-radius: 30%;
}
.my-img{
  margin-left: 2rem;
  height: 15rem;
  width: 20rem;
}
.membership-details{
  margin-bottom: 2rem;
}
.membership-header{
  margin-bottom: 3.5rem;
  
}
.mem-time{
  color:rgb(230, 83, 60) ;
}
.mem-brief{
  color:rgb(230, 83, 60);
  font-weight: 800;
}
/* footer styles */
footer{
  background-color:rgba(255, 255, 255, 0.1) ;
}
.footer-container{
  padding: 4rem 12rem 5rem 12rem;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
}
hr{
  width: 70%;
  border: none  ;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.309);
}
.last-line{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer-header{
  font-style: italic;
  margin-bottom: 2rem;
  font-size: 70px;
  font-weight: 800;
  color: rgb(230, 83, 60);
}
.get-start{
  font-size: 2rem;
  font-weight: 700;
}
.links{
  font-size: 23px;
}
  
@media screen and (max-width: 576px) {
  /* nav styles */
  .nav-content{
    display: none;
  }
  #ham-menu{
    margin-top: 1.5rem;
    display: block;
  }
  /* header styles */
  .header-container{
    margin-top: 1rem;
    flex-direction: column;
    
  }
  .header-description{
    margin-top: -5rem;
    
  }
  .header-title{
    font-size: 3rem;
    width: 100%;
  }
  .header-description p{
    width: 100%;
  }
  #badge{
    margin-left: 0px;
  }
  /* change your habits section */
  .section-topic{
    padding: 1rem;
  }
  .section-img-container{
    flex-direction: column;
    gap: 1rem;
  }
  .section-topic{
    margin-top: 15rem;
  }
  .section-title{
    font-size: 2rem;
  }
  /* run an extra Mile section */
  .extra-mile{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    height: auto;
  }
  .extra-mile-topic,.extra-mile-img{
    width: 100%;
  }
  .extra-mile button{
    margin-top: 0;
    width: 100%;
    height: 3.5rem;
  }
  /* Bmi section */
  .bmi-calculate{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-start;
  }
  table{
    width: 100%;
  }
  .second-bmi input{
    width: 9.5rem;
  }
  .select-box{
    width: 11.5rem;
  }
  .select-box-2{
    width: 23.3rem;
  }
  
  .btn-calculate{
    margin-top: -1rem;
  }
  /* Meet Our team */
  .trainer-topic{
    text-align: center;
  }
  .trainer-topic-title{
    font-size: 2.5rem;
  }
  .trainer-topic p{
    text-align: center;
  }
  .trainer-img-container{
    display: flex;
    flex-direction: column;
  }
  /* My section */
  .membership-topic{
    text-align: center;
  }
  .membership-card-container{
    flex-direction: column;
  }
  .my-img{
    margin-left: -0rem;
  }
  /* footer section */
  .footer-container{
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
}
